$thirtyPixel: 30px;
.page_number_wrap{
    width: 400px;
    border: 1px solid #EDEDED;
    border-radius: $thirtyPixel;
    height: 50px;
    margin-top: 60px;
}
.page_number_wrap div{
    color: #747474;
    font-size: small;
}
.page_number_wrap div:first-child{
    border-radius: 50%;
    color: white;
    width: $thirtyPixel;
    height: $thirtyPixel;
    background: #00A855;
    text-align: center;
    padding-top: 5px;
}

.page_number_wrap div:last-child{
    color: #00A855;
}